<% if apps %>
  <div class="row">
    <% apps.each do |app| %>
      <div class="app">
        <div class="col-md-2 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <img src="<%= app.image_url %>" alt="">
            </div>
            <div class="panel-body text-center app-title">
              <%= app.name %>
            </div>
            <ul class="list-group">
                <li class="list-group-item text-center">Friend code<input type="text" name="フレンドコード"></li>
            </ul>
            <div class="buttons text-center">
                <p><%= render 'rel_apps/have_button', app: app %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>