<div class="search">
  <div class="row">
    <div class="text-center">
      <%= form_tag(users_path, method: :get, class: 'form-inline') do %>
        <div class="form-group">
          <%= text_field_tag :keyword, @keyword, class: 'form-control input-lg', placeholder: "ユーザー名を入力", size: 40 %>
        </div>
        <%= submit_tag '検索', class: 'btn btn-success btn-lg' %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'users/user', users: @users %>